body {
  overflow-x: hidden;
  margin: 0px;
  font-family: monospace;
  color: black;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  width: 100vw;
  height: 100vh;
  position: absolute;
  justify-content: center;
  text-align: center;
  pointer-events: none;
  font-size: 4vh;
}

/* #scrollProgress {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 99;
  font-size: 3vh;
} */

section {
  min-height: 100vh;
  padding: 20px;
  font-size: 4vh;
}

.exhibition-hall {
  background: linear-gradient(104.72deg, #5D50EF 0%, #FE9C8F 23.96%, #FFBB00 50%, #5CD9D3 73.96%, #64A8F7 100%);
  opacity: 0.4;
  filter: blur(100px);
}

.title {
  position: relative;
	width: 100%;
	text-align: center;
	z-index: 1;
  font-size: 2vh;
}